.dashboard-redirect-container {
  font-family: "Roboto Mono";
  display: flex;
  color: #3a405b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 239, 245);
  font-size: 30px;
  font-weight: 400;
  min-height: 100vh;
}
.not-found-title {
  font-size: 250px;
  font-weight: 700;
}
.dashboard-redirect-container button {
  background-color: black;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  padding: 6px 20px;
}

.dashboard-redirect-container img {
  background-color: black;
  width: 20px;
  height: 17px;
}

@media (max-width: 380px) {
  .dashboard-redirect-container {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .not-found-title {
    font-size: 130px;
  }
}
