
.loading
.error {
	text-align: center;
	padding: 3rem;
	font-size: 1.2rem;
}
.profile-page {
	font-family: "Roboto mono";
	padding: 40px;
	background-color: rgba(234, 239, 245, 0.5);
}

.main-container {
	margin-top: 60px;
}
.topbar {
	background-color: #6366f1;
	color: white;
	padding: 15px;
	border-radius: 10px 10px 0px 0px;
}
.topbar a {
	margin-left: 10px;
}

/*banner*/
.banner-container {
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 255, 255);
	padding: 35px;
	color: rgb(75, 74, 74);
	font-size: 25px;
}
.profilePicture {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
}
.username-display, .coins-display {
	margin-top: 110px;
	margin-left: 40px;
}
 .coins-display {
	margin-left: 920px;
}

/*container for personal info and password info headers*/
.personal-info-text-container p,  .password-info-text-container p{
	margin-top: 10px;
	margin-left: 22px;
	color: rgb(75, 74, 74);
	font-size: 20px;
	border-bottom: 1px solid rgb(75, 74, 74);
}

/*sections*/
.info-section, .password-change-section {
	background-color: white;
	padding: 25px;
	box-shadow: 8px;
}

.password-change-section {
	border-radius: 0px 0px 10px 10px;
}
.password-change-section p {
	margin-top: 10px;
	margin-left: 22px;
	color: rgb(54, 54, 54);
	
}

/*forms*/
.info-form,
.password-form {
	background-color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	padding: 20px;
	border-radius: 8px;
}
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group label {
	background-color: white;
	margin-bottom: 5px;
	text-align: left;
	color: rgb(119, 118, 118);
}
.form-group input {
	background-color: rgb(227, 224, 224);
	padding: 10px;
	border-radius: 4px;
	border: 1px solid rgb(143, 141, 141);
}

/*display error message*/
.error-message-container p{
	font-weight: bold;
	color: #dc3545;
	margin-left: 22px;
	text-align: left;
}

/*button containers*/
.edit-button-container,
.save-changes-button-container,
.change-password-button-container,
.save-password-button-container {
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	min-height: 60px;
}

/*buttons*/
.edit-button,
.save-changes-button,
.change-password-button,
.save-password-button  {
	background-color: #6366f1;
	border-radius: 800px;
	color: white;
	padding: 8px 18px;
}
