/* body {
    background-color: white;
    min-height: 100dvh;
} */

.room-view {
    position: relative;
    display: flex;

    width: 800px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 3px rgb(255, 245, 245);
}

.room-image {
    width: 300px;
    height: auto;
    border-radius: 20px;
    mask-image: linear-gradient(90deg, rgb(221, 235, 235) 90%, transparent);
}

.room-title {
    padding-left: 20px;
    padding-top: 10px;

    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.room-location,
.room-info {
    font-size: 15px;
    color: rgb(122, 120, 120);
}

.room-info {
    padding-top: 50px;
    color: black;
}

.timeslot {
    position: absolute;
    left: 640px;
    top: 100px;

    font-size: 25px;
}

.book-button {
    position: absolute;
    left: 597px;
    top: 144px;
    
    display: flex;
    align-items: center;

    background-color: rgb(70, 137, 208);
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 40px;
    height: 40px;
    cursor: pointer;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 23px;

    position: absolute;
    right: 100px;
}

.filter-box {
    position: fixed;
    background-color: rgb(70, 137, 208);
    width: 400px;
    height: 100vh;
    top: 0px;
    left: 100px;

    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 180px;
    gap: 50px;
}

.floor-select,
.date-select,
.filter-button {
    border: 2px solid rgb(236, 235, 235);
    border-radius: 40px;
    font-size: large;
    text-align: center;
    font-weight: 300;
    color: rgb(65, 63, 63);
    background-color: rgb(255, 245, 245);
    height: 50px;
    width: 290px;
    cursor: pointer;
}

.confirm-filter-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    gap: 5px;
}

.reset-filters-button {
    background-color: white;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset-filters-button img {
    height: 30px;
    width: 30px;
}