body {
  background-image: url(/blue_background.avif);
  background-size: cover;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-input-fields {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 19px;

  background-color: white;
  border-radius: 4px;
  padding: 100px;
  padding-top: 300px;
  width: 500px;
  height: 800px;
}

.login-field {
  padding: 12px;
  background-color: transparent;
  margin-top: 20px;
  width: 250px;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 6px;
  color: black;
  outline: none;
  font-size: 15px;
  align-self: center;
}

.login-field::placeholder {
  color: lightgray;
}

.login-button {
  height: 40px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 60px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #3a405b;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo {
  margin-top: -200px;
  height: 150px;
  width: 200px;
  align-self: center;
}

.forgot-password {
  display: flex;
  font-size: small;
  padding-left: 180px;
  margin-top: 5px;
}

.register-query {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80%;
}

.test {
  color: black
}