.room-view {
    display: flex;

    width: 800px;
    height: 200px;
    background-color: rgb(221, 235, 235);
    border-radius: 20px;
}

.room-image {
    width: 300px;
    height: auto;
    -webkit-mask-image: linear-gradient(90deg, rgb(221, 235, 235) 90%, transparent);
}

.room-title {
    padding-left: 80px;
    padding-top: 20px;

    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}