.profile-page{
    padding: 15px;
}
.topbar{
    background-color:#5E5DF0;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}
.topbar a{
    margin-left: 10px;
}   
.banner-container{
    display: flex;
    flex-direction: row;
    background-color:rgb(211, 208, 208);
    /*border-radius: 4px;*/
    padding: 6px;
    border-bottom: 1.2;
}
.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.username-display{
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 25px;
    color: white;
}

.info-section{
    background-color:rgb(211, 208, 208);
    padding: 25px;

    border-radius: 0px 0px 10px 10px;
    box-shadow: 8px;
}
.edit-button-container{
    display: flex;
    justify-content: flex-start ;
    padding: 10px;
    border-radius: 4px;
    min-height: 60px;
}

.edit-button{
    background-color: #5E5DF0;
    border-radius: 800px;
    color: white;
    padding: 8px 18px;

}


.info-form{    
    background-color:white;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    background-color: white;
    margin-bottom: 5px;
    text-align: left;
    color: rgb(119, 118, 118);
   
}
.form-group input
{
    background-color:rgb(227, 224, 224);
    padding: 10px;
    border-radius: 4px; 
    border: 1px solid rgb(143, 141, 141);
}


.save-changes-button{
    background-color: #5E5DF0;
    border-radius: 800px;
    color: white;
    padding: 8px 18px;
}


.edit-button-container,
.save-changes-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    /* THE IMPORTANT PART */
    height: 60px;         /* fixed instead of min-height */
    align-items: center;  /* keeps buttons aligned */
}
.save-changes-button-container{
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    min-height: 60px;
}
