body {
  background-image: url(/blue_background.avif);
  background-size: cover;
}

.register-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-input-fields {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: white;
  border-radius: 4px;
  padding: 100px;
  padding-top: 300px;
  width: 500px;
  height: 840px;
}

.register-field {
  padding: 12px;
  background-color: transparent;
  /* border-bottom: 1px solid gray; */
  width: 250px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(236, 235, 235);
  color: black;
  outline: none;
  font-size: 15px;
  align-self: center;
}

.register-field::placeholder {
  color: lightgray;
}

.register-button {
  height: 40px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 60px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #3a405b;
  cursor: pointer;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo {
  margin-top: -200px;
  height: 150px;
  width: 200px;
  align-self: center;
}

.login-query {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80%;
}

.test {
  color: black
}