body {
    background-color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.booking-box {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

.title {
    font-size: 60px;
    font-weight: 300;
    color: rgb(65, 63, 63);
    padding-top: 20px;
    padding-bottom: 40px;
}

.filters {
    padding: 20px;
}

.floor-select,
.date-select,
.filter-button {
    height: 40px;
    width: 200px;
    border: 2px solid rgb(236, 235, 235);
    border-radius: 6px;
    font-size: large;
    text-align: center;
}

.filter-button {
    background-color: #4689d0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.available-room-layout {
    font-size: 30px;
    padding-top: 50px;
}

.booking-table th,
.booking-table td {
    padding: 10px 40px;
}

.booking-table {
    text-align: center;
    border: 2px solid rgb(236, 235, 235);
}

.booking-table th {
    background-color: #4689d0;
    color: white;
}