body {
    background-color: rgb(223, 223, 223);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.booking-box {
    width: 600px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

.title {
    font-size: 50px;
    font-weight: 300;
    color: rgb(65, 63, 63);
    padding-top: 20px;
    padding-bottom: 40px;
}

.filters {
    padding: 20px;
}

.floor-select,
.date-select,
.filter-button {
    height: 40px;
    width: 170px;
    border: 2px solid rgb(236, 235, 235);
    border-radius: 6px;
    font-size: large;
    text-align: center;
    font-weight: 300;
    color: rgb(65, 63, 63);
    cursor: pointer;
}

.filter-button {
    background-color: #4689d0;
    color: #fff;
    border: none;
}

.available-room-layout {
    font-size: 30px;
    padding-top: 50px;
}

.booking-table th,
.booking-table td {
    padding: 10px 16px;
    font-size: 26px;
    font-weight: 300;
    color: rgb(65, 63, 63);
}

.booking-table {
    text-align: center;
    border: 2px solid rgb(236, 235, 235);
}

.booking-table th {
    background-color: #4689d0;
    color: white;
}

.page-switcher {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.prev-button,
.next-button {
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    width: 85px;
    border: 2px solid rgb(236, 235, 235);
    border-radius: 6px;
    font-weight: 300;
    color: rgb(65, 63, 63);
}

.page-count {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    color: rgb(65, 63, 63);
}