#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(blue_background.avif);
  background-size: cover;
}

.login-input-fields {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 70px;

  background-color: white;
  border-radius: 4px;
  padding: 100px;
  padding-top: 300px;
  width: 200px;
}

.login-field {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  width: 230px;
  color: black;
  outline: none;
  font-size: 13px;
  align-self: center;
}

.login-button {
  margin-left: -65px;
  margin-right: -65px;
  border-radius: 30px;
  background-color: #3a405b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo {
  margin-top: -200px;
  height: 150px;
  width: 200px;
}

.forgot-password {
  margin-bottom: -40px;
  margin-top: -60px;
  font-size: small;
  color: gray;
}

.test {
  color: black
}